.DS_Store
ingestor/target/
/raw/
/warehouse/
transform/target/
transform/logs/
transform/.venv/
transform/dbt_packages/
transform/.user.yml
orchestration/.venv/
orchestration/.dagster_home/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dashboard/.venv/

# Terraform
infra/.terraform/
infra/*.tfvars
infra/*.tfstate*
infra/tfplan
